@import-normalize; /* bring in normalize.css styles */

/*Обнулення*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 20rem;
}

html {
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Стилі за замовчуванням */
body {
    font-family: 'Manrope SemiBold', sans-serif;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03rem;
    color: #111111;
}

#root {
    min-height: 100%;
    overflow: clip;
    background-color: #fef9f9;
    display: flex;
    flex-direction: column;
}
